@import url("colours.css");

/* global appearance */

* {
  font-family: "Hack Nerd Font Mono";
  font-size: 14px;
}

window#waybar {
  background-color: @background-darker;
  color: @comment;
}

/* widget spacing */

.modules-left > * > .module {
  padding: 0 18px;
  border-left: 1px solid @selection;
}

.modules-left > *:first-child > .module {
  border-left: none;
}

.modules-right > * > .module {
  padding: 0 18px;
  border-right: 1px solid @selection;
}

.modules-right > *:last-child > .module {
  border-right: none;
}

/* specific components */

#workspaces button {
  color: @comment;
  padding: 0;
  padding-right: 6px;
  background: none;
  border: none;
  box-shadow: none;
  transition: none;
}

#workspaces button:last-child {
  padding-right: 0;
}

#workspaces button.focused, #workspaces button:hover {
  color: @purple;
  font-weight: bold;
}

#mode {
  color: @pink;
}

#window {
  color: @foreground;
}

#clock {
  color: @foreground;
}

#custom-needs-reboot.yes {
  color: @red;
}
